scopeName: 'source.smpl'
name: 'Simple'
fileTypes: [ 'smpl' ]
limitLineLength: false

patterns: [
  {
    comment: 'grammar rule for comments'
    name: 'comment.line.simple'
    match: '#.*$'
  }
  {
    comment: 'grammar rule for declarations'
    match: '^([A-Z]+)::([a-z_]+)'
    captures:
      1: name: 'storage.type.simple'
      2: name: 'variable.language.simple'
  }
  {
    comment: 'grammar rule for number literals'
    name: 'constant.numeric.simple'
    match: '[0-9]+\\.?[0-9]*'
  }
  {
    comment: 'grammar rule for keywords'
    match: '^((?:TAG)|(?:IF)|(?:GOTO)|(?:IF)|(?:READ)|(?:WRITE))'
    captures:
      1: name: 'keyword.control'
  }
  {
    comment: 'grammar rule for operators'
    name: 'keyword.operators'
    match: '[=\\+\\-\\*\\/\\^><%]'
  }
]
